*{
  font-size:16px;
}

h1{
  text-align:center;
  position:relative;
  margin-bottom:30px;
}

nav{
  text-align:center;
  position:relative;
}

h2{
  text-align:center;
  position:relative;
  margin-bottom:30px;
  margin-top:30px;
}
table, th, td{
  border-collapse: collapse;
  border:2px solid black;
  width:50%;
  margin:auto;
  vertical-align:bottom;
  position:relative;
}
th,td{
  margin:auto;
}
code{
border-collapse:2px solid black;
}

footer{
  position:relative;
  margin:auto;
  margin-top:30px;
  text-align:center;
}
